<div class="col-md-12 header">
    <h2>{{titre}}</h2>
</div>
<div class="col-md-4 form-group">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>TEMPS</th>
                        <th>NOM</th>
                        <th>CATÉGORIE</th>
                        <th>TOTAL</th>
                        <button type="button" class="btn btn-primary space" (click)="ajouteService()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-primary space" (click)="supprimeService()"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let service of services; let i=index" (click)="selectService(service)" [class.estSelectRange]="this.selectedService.nom === service.nom">
                        <td>{{ service?.temps }}</td>
                        <td>{{ service?.nom }}</td>
                        <td>{{ service?.categorie }}</td>
                        <td>{{ service?.total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-2 form-group">
    <div class="col-md-12 outer">
        <label for="temps">Temps</label>
        <input type="date" id="temps" class="form-control" placeholder="time" [(ngModel)]="this.selectedService.temps">
    </div>
    <div class="col-md-12 outer">
        <label for="nom">Nom</label>
        <input type="text" id="nom" class="form-control" placeholder="name" [(ngModel)]="this.selectedService.nom">
    </div>
    <div class="col-md-12 outer">
        <label for="categorie">Catégorie</label>
        <input list="categorie" class="form-control" placeholder="category" [(ngModel)]="this.selectedService.categorie">
        <datalist id="categorie">
            <option value="Nourriture">
                <option value="Boisson">
                    <option value="Alcool">
                        <option value="Logistique">
                            <option value="Équipement">
        </datalist>
    </div>
</div>
<div class="col-md-3 form-group">
    <div class="col-md-12 outer">
        <label for="quantite">Quantité</label>
        <input type="number" step="0.01" min="1" class="form-control" id="quantite" placeholder="quantity" [(ngModel)]="this.selectedService.quantite">
    </div>
    <div class="col-md-12 outer">
        <label for="prixUnitaire">Prix Unitaire($)</label>
        <input type="number" step="0.01" min="0" id="prixUnitaire" class="form-control" placeholder="unit price" [(ngModel)]="this.selectedService.prixUnitaire">
    </div>
    <div class="col-md-12 outer">
        <label for="escompte">Escompte(%)</label>
        <input type="number" step="0.01" min="0" id="escompte" class="form-control" placeholder="% off" [(ngModel)]="this.selectedService.escompte">
    </div>
    <div class="col-md-12 outer">
        <label for="sousTotal">Sous-Total($)</label>
        <input type="number" step="0.01" id="sousTotal" class="form-control" placeholder="partial total" [(ngModel)]="this.selectedService.sousTotal"
            readonly>
    </div>
</div>
<div class="col-md-3 form-group">
    <div class="col-md-12 outer">
        <label for="fraisService">Frais Service(%)</label>
        <input type="number" step="0.01" min="0" id="fraisService" class="form-control" placeholder="fee service" [(ngModel)]="this.selectedService.fraisService">
    </div>
    <div class="col-md-12 outer">
        <label for="fraisServiceTotal">Frais Service Total</label>
        <input type="number" step="0.01" id="fraisServiceTotal" class="form-control" placeholder="fee service total" [(ngModel)]="this.selectedService.fraisServiceTotal"
            readonly>
    </div>
    <div class="col-md-12 outer">
        <label for="modifiePar">Modifié Par</label>
        <input type="text" id="modifiePar" class="form-control" [(ngModel)]="this.selectedService.modifiePar" readonly>
    </div>
    <div class="col-md-12 outer">
        <label for="modifie">Modifié</label>
        <input type="text" id="modifie" class="form-control" [(ngModel)]="this.selectedService.modifie" readonly>
    </div>
</div>